<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Home Page</title>
</head>
<body>
	<!-- Main Container  -->
	<div layout:fragment="content" class="main-container">
		<div id="content">
			<div class="slider-container">
				<div class="module sohomepage-slider ">
					<div class="yt-content-slider" data-rtl="no" data-autoplay="no"
						data-autoheight="no" data-delay="4" data-speed="0.6"
						data-margin="0" data-items_column00="1" data-items_column0="1"
						data-items_column1="1" data-items_column2="1"
						data-items_column3="1" data-items_column4="1" data-arrows="yes"
						data-pagination="no" data-lazyload="yes" data-loop="no"
						data-hoverpause="yes">
						<div class="yt-content-slide">
							<a href="#"><img
								th:src="@{/image/catalog/slideshow/home4/laptop1.png}"
								alt="slider1" class="img-responsive"></a>
						</div>
						<div class="yt-content-slide">
							<a href="#"><img
								th:src="@{/image/catalog/slideshow/home4/samsung1.png}"
								alt="slider2" class="img-responsive"></a>
						</div>
						<div class="yt-content-slide">
							<a href="#"><img
								th:src="@{/image/catalog/slideshow/home4/laptop1.png}"
								alt="slider3" class="img-responsive"></a>
						</div>
					</div>

					<div class="loadeding"></div>
				</div>
			</div>
			<div class="content-main-w">
				<div class="container">
					<div class="box-advanced-search">
						<form th:action="@{/part-search}" method="GET">
							<input type="hidden" name="name" value="" /> <input type="hidden"
								name="category" value="" />

							<div class="so_advanced_search">
								<div class="sas_wrap">
									<div class="sas_inner">
										<div class="heading-title">
											<h2>Search Product</h2>
										</div>
										<div class="sas_inner-box-search">
											<div class="row">
												<div
													class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-boxes">
													<select class="form-control make" name="make">
														<option th:each="makeInfo : ${listMake}"
															th:value="${makeInfo.id}" th:utext="${makeInfo.name}" />
													</select>
												</div>

												<div
													class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-boxes">
													<select class="form-control" name="year">
														<option value="">All Year</option>
														<option th:each="yearInfo : ${listYear}"
															th:value="${yearInfo}" th:utext="${yearInfo}" />
													</select>
												</div>
												<div
													class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-button">
													<button type="submit" id="sas_search_button0">Search</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="container">
					<!-- Extra Best seller -->
					<div class="module extra-layout1">
						<div class="pre_text">Top sale in the week</div>
						<h3 class="modtitle">
							<span>Best Seller</span>
						</h3>
						<div class="modcontent">
							<div id="so_extra_slider_11" class="so-extraslider button-type1">
								<!--changed listings-->
								<div
									th:replace="/fragments/parts::partsData(productList=${productList2})"></div>

								<!--// End Changed listings-->
							</div>
						</div>

					</div>
					<!-- end Extra best seller -->

					<div class="banners banners2">
						<div class="row">
							<div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<a href="#"><img th:src="@{/image/catalog/banners/image_posted1.png}"
									alt="banner"></a>
							</div>
							<div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<a href="#"><img th:src="@{/image/catalog/banners/image_posted2.png}"
									alt="banner"></a>
							</div>
						</div>
					</div>

					<!-- Extra new arrivals -->
					<div class="module extra-layout1">
						<div class="pre_text">Top sale in the week</div>
						<h3 class="modtitle">
							<span>New Arrivals</span>
						</h3>
						<div class="modcontent">
							<div id="so_extra_slider_12" class="so-extraslider button-type1">
								<!--changed listings-->
								<div
									th:replace="/fragments/parts::partsData(productList=${productList})"></div>

								<!--// End Changed listings-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Main Container -->

	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/themejs/homepage.js}"></script>
		<script type="text/javascript" th:src="@{/js/Util.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function() {
				display('grid');
				$(".make").change(function() {
					var url = /*[[@{/models}]]*/
					getModels(url);
				});
			});
		</script>
	</th:block>
</body>
</html>